<!-- Botones -->

<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="" class="btn btn-primary btn-block" data-toggle="modal" data-target="#agregarClienteModal">
                   <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Agregar Cliente 
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Listado Clientes -->

<section id="clientes">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4>Listado de Clientes</h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Saldo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of clientes; let i = index">
                                <td>{{i + 1}}</td>
                                <td>{{cliente.nombre}} {{cliente.apellido}} </td>
                                <td>{{cliente.saldo | currency: 'NIO': 'C$'}} </td>
                                <td>
                                    <a routerLink="/cliente/editar/{{cliente.id}}" class="btn btn-secondary"> <i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp; Editar</a>
                                    <a (click)="eliminar(cliente.id)" class="btn btn-danger ml-2"> <i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Eliminar </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- tarjetas Laterales -->
            <div class="col-md-3">
                <div class="card text-center bg-danger text-white mb-3">
                    <div class="card-body">
                        <h3>Saldo Total</h3>
                        <h2>
                            {{getSaldoTotal() | currency: 'NIO': 'C$'}}
                        </h2>
                    </div>
                </div>
                <div class="card text-center bg-success text-white mb-3">
                    <div class="card-body">
                        <h3>Total Clientes</h3>
                        <h4 class="display-4">
                          <i class="fa fa-user" aria-hidden="true"></i>  {{clientes?.length}}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Agregar Cliente Modal -->
<div class="modal fade" id="agregarClienteModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title">Agregar Cliente</h5>
                <button class="close" data-dismiss="modal" #botonCerrar>
                    <span>&times;</span>
                </button>
            </div>
            <flash-messages></flash-messages>
            <form [formGroup]="clienteForm" autocomplete="off" (ngSubmit)="agregar()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" class="form-control" formControlName="nombre" [class.is-invalid]="nombreNoValido" [class.is-valid]="nombreValido" minlength="2">
                        <div [hidden]="clienteForm.get('nombre').valid" class="invalid-feedback">Nombre Requerido</div>
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido</label>
                        <input type="text" name="apellido" class="form-control" formControlName="apellido" [class.is-invalid]="apellidoNoValido" [class.is-valid]="apellidoValido">
                        <div [hidden]="clienteForm.get('apellido').valid" class="invalid-feedback">Apellido Requerido</div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="email" class="form-control" formControlName="email" [class.is-invalid]="emailNoValido" [class.is-valid]="emailValido">
                        <div [hidden]="clienteForm.get('email').valid" class="invalid-feedback">Email Requerido</div>
                    </div>
                    <div class="form-group">
                        <label for="saldo">Saldo</label>
                        <input type="number" name="saldo" class="form-control" formControlName="saldo" [class.is-invalid]="saldoNoValido" [class.is-valid]="saldoValido">
                        <div [hidden]="clienteForm.get('saldo').valid" class="invalid-feedback">Saldo Requerido</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="clienteForm.invalid"> <i class="fas fa-save"></i> Guardar </button>
                </div>
            </form>
        </div>
    </div>    
</div>